In [3]:
import pandas as pd
import requests

In [13]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=d91ec96cdd77636f350c8675e86035d6&language=en-US&page=1')

In [17]:
df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [18]:
df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,26.1332,8.713,29336
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,25.2389,8.685,22140
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,19.8566,8.600,13384
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,12.9693,8.566,16896
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,11.4362,8.500,9579

In [19]:
df = pd.DataFrame()

In [22]:
df

Empty DataFrame
Columns: []
Index: []

In [24]:
for i in range(1,429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=d91ec96cdd77636f350c8675e86035d6&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    df = pd.concat([df, temp_df], ignore_index=True)

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,26.1332,8.713,29336
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,25.2389,8.685,22140
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,19.8566,8.600,13384
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,12.9693,8.566,16896
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,11.4362,8.500,9579
...,...,...,...,...,...,...,...
8555,81446,The Baytown Outlaws,When three redneck brothers agree to help a wo...,2012-08-27,1.8189,5.950,332
8556,18147,Unaccompanied Minors,Five disparate kids snowed in at the airport o...,2006-12-08,1.5634,6.000,320
8557,11775,Intolerable Cruelty,A revenge-seeking gold digger marries a womani...,2003-10-10,3.1003,5.950,1589
8558,10204,Around the World in 80 Days,"A bet pits a British inventor, a Chinese thief...",2004-06-16,14.7153,5.950,2615
8559,586592,Come to Daddy,After receiving a cryptic letter from his estr...,2019-04-25,1.4084,5.949,571

In [29]:
df.to_csv('TopMovies.csv')